:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #ff84bd;
}

body {
  margin: 0;
  font-family: "Bodoni Moda", serif;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.nav_bar {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

.title_item {
  font-size: 24px;
  color: var(--text-color);
}

.title_item i {
  color: var(--accent-color);
}

.navbar__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__list li {
  padding: 8px 12px;
}
.navbar__list li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.icon_item {
  display: flex;
  color: var(--text-color);
  list-style: none;
}
.icon_item li {
  padding: 8px 12px;
}
.toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .nav_bar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 24px;
  }
  .navbar__list {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
  }
  .navbar__list li {
    width: 100%;
    text-align: center;
  }
  .icon_item {
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
  }
  .toogleBtn {
    display: block;
  }

  .navbar__list.active,
  .icon_item.active {
    display: flex;
  }
}
